.btn {
	border: 0 solid transparent;
	border-radius: $global-radius;
	font-weight: 200;
	text-transform: uppercase;
	transition: .25s ease all;
	&+.btn {
		margin-left: 8px;
	}
}

.btn-action {
	border-radius: 50%;
	text-align: center;
	padding: 0;
	&:hover{
		transform: scale(1.5);
	}
	&.btn-xs {
		width: 20px;
		height: 20px;
	}
	&.btn-sm {
		width: 30px;
		height: 30px;
	}
	&.btn-md {
		width: 40px;
		height: 40px;
		font-size: 22px;
		padding-top: 3px;
	}
	&.btn-lg {
		width: 50px;
		height: 50px;
    padding-top: 2px;
    font-size: 30px;
	}
}

.btn-primary {
	background-color: $blue;
	&:hover,
	&:focus {
		background-color: darken($blue, 10%);
	}
}
.btn-default {
	background-color: transparent;
	color: $blue;
	&:hover,
	&:focus {
		color: darken($blue, 10%);
	}
}
