.feed__container {
	// overflow: visible;
	transition: .5s ease all;
	background-color: $white;
	margin-top: 40px;
	box-shadow: 0 0 11px -2px rgba(0, 0, 0, .5);
	&:hover {
		transform: scale(1.02);
	}
	&.active{
		transform: scale(1.1);
		box-shadow: 0 0 22px -2px rgba(0, 0, 0, .5);
		margin-top: 40px;
		margin-bottom: 40px;
		position: relative;
		z-index: 105;
		video {
			display: block;
			height: auto;
		}
		img {
			display: none;
		}
		.btn-action {
			z-index: 105;
		}
	}
	video {
		display: block;
		height: 0;
		transition: .5s ease all;
	}
	.feed__content {
		padding: 14px 30px 0;
		background-color: $white;
		padding-bottom: 14px;
		transition: .5s ease all;
		.btn-action {
			position: absolute;
			top: -20px;
			right: -20px;
			z-index: 90;
		}
		p {
			margin-top: 25px;
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	.feed__header {
		background-color: $black;		
		transition: .5s ease all;
		padding: 0;
		h3 {
			color: $white;
			line-height: 150%;
		}
		small {
			color: darken($white, 20%);
		}
	}
}


