.slide_fade-transition {
	height: auto;
	opacity: 1;
	transition: .75s ease all;
}
.slide_fade-enter,
.slide_fade-leave {
	display: block;
	opacity: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.slide-transition {
	transition: .5s ease all;
	display: block;
	height: auto; 
}
.slide-enter,
.slide-leave {
	height: 0;
	overflow: hidden;
}

.fade-transition {
	transition: .5s ease all;
	opacity: 1;
}
.fade-enter,
.fade-leave {
	opacity: 0;
}
