@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

$base-font: 'Roboto', 'Helvetica', 'Helvetica Neue', 'arial' sans-serif;

.giga,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font;
}

.giga {
	font-size: 44px;
}

p {
	font-size: 15px;
	line-height: 20px;
}

.text--white {
	color: $white;
}
.text--light {
	font-weight: 200;
}
.text--medium {
	font-weight: 300;
}
.text--bold {
	font-weight: 500;
}
